h1 Your browser is outdated
ul#links
    li#link-chrome
        a( href="http://www.google.com/chrome", title="Download Chrome" )
            span Google
                br
                strong Chrome
    li#link-firefox
        a( href="http://www.mozilla.com", title="Download Firefox" )
            span Mozilla
                br
                strong Firefox

    li#link-safari
        a( href="http://www.apple.com/safari/", title="Download Safari")
            span Apple
                br
                strong Safari

    li#link-ie
        a( href="http://www.microsoft.com/windows/internet-explorer/default.aspx", title="Download Internet Explorer")
            span Microsoft
                br
                strong Internet
                br
                string Explorer

    li#link-opera
        a( href="http://www.opera.com", title="Download Opera")
            span
                strong Opera
h1 Please upgrade to a modern browser
