#users.ui-layout-west
    #accordion.basic
        h1
            a( href="#" ) Users
        div
            ul#users-list
        h1
            a( href="#") Content
        div
            ul#Content-list

#content.ui-layout-center( style="display: none" )
    ul( style="-moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;" )

#footer.ui-layout-south
    input#message( type="text" )
