!!! 5
html
  head
    title Virtual environment
    link( href: 'http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:regular,italic', rel: 'stylesheet', type: 'text/css' )
    link( href: '/style.css', rel: 'stylesheet', type: 'text/css' )
    script( src: '/socket.io/socket.io.js', type: 'text/javascript' )
    script( src: '/jquery-1.4.2.min.js', type: 'text/javascript' )
    script( src: '/raphael-min.js', type: 'text/javascript' )
    script( src: '/common.js', type: 'text/javascript' )
    script( src: '/client.js', type: 'text/javascript' )
  body!= body
