!!! 5
html
  head
    title #{title}
    link( href: '/css/style.css', rel: 'stylesheet', type: 'text/css' )
    -each script in scripts 
        script(type='text/javascript', src=script)
  body!= body
