@import "layout-default.css";
@import "start/jquery-ui-1.8.13.custom.css";

* {
   padding: 0px;
   margin: 0px;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

html, body {
    font-size: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
}


.ui-layout-center, .ui-layout-west, .ui-layout-south {
    padding: 0px;
    overflow: hidden;
}

.ui-layout-center {
    line-height:1.4em;
    margin:	0; /* remove top/bottom margins from <P> used as content-div */
}

#chats {
    position: absolute;
    top: 0px;
    bottom: 30px;
    width: 100%;
}

#chats > div {
    position: absolute;
    top: 35px;
    overflow-y: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#controls {
    position: absolute;
    height: 30px;
    bottom: 0px;
    width: 100%;
}

#message {
    border: solid 2px gray;
    width: 99%;
    height: 23px;
}


h1, h2 {
    font-size:		1.1em;
    background:		#EEF;
    border:		1px solid #BBB;
    border-width:	0 0 1px;
    padding:		7px 10px;
    margin:		0;
    text-align: center;
}


#links {
    height: 120px;
    width: 350px;
    position: relative;
    list-style-type: none;
    padding: 20px;
    margin: 0 auto;
}

#links li {
    position: absolute;
    width: 114px;
    height: 50px;
}

#links li a {
    display: block;
    height: 50px;
    padding-left: 54px;
    background-repeat: no-repeat;
    color: #666666;
    font-size: 10px;
    line-height: 12px;
}

#links li a strong {
    color: #000000;
}

#links li a span {
    display: block;
    padding-top: 12px;
}

#links li a:hover {
    color: #999999;
}

#links li a:hover strong {
    color: #666666;
}
			
#links li#link-chrome a {
    background-image: url(/img/chrome.jpg);
}

#links li#link-firefox {
    left: 115px;
}

#links li#link-firefox a {
    background-image: url(/img/firefox.jpg);
}

#links li#link-safari {
    left: 230px;
}

#links li#link-safari a {
    background-image: url(/img/safari.jpg);
}

#links li#link-ie {
    top: 70px;
}

#links li#link-ie a {
    background-image: url(/img/ie.jpg);
}

#links li#link-ie a span {
   padding-top: 6px;
}

#links li#link-opera {
   top: 70px;
   left: 115px;
}

#links li#link-opera a {
   background-image: url(/img/opera.jpg);
}

#links li#link-opera a span {
    padding-top: 18px;
}

