* {
   padding: 0px;
   margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: gray;
    overflow: hidden;
}

#toolbar {
    height: 5%;
    width: 100%;
    background-color: #EEEEEE;
}

#content {
    height: 95%;
    width: 100%;
    background-color: #FFFFFF;
}
